<main class="flex flex-col gap-3 justify-center items-center w-full">
  <section class="flex gap-2 justify-center my-6">
    <button
      (click)="seleccionarDia(1)"
      [class]="dia === 1 ? activeTab : inactiveTab"
    >
      Día 1
    </button>
    <button
      (click)="seleccionarDia(2)"
      [class]="dia === 2 ? activeTab : inactiveTab"
    >
      Día 2
    </button>
    <button
      (click)="seleccionarDia(3)"
      [class]="dia === 3 ? activeTab : inactiveTab"
    >
      Día 3
    </button>
  </section>

  @if (dia == 1) {
  <section class="flex flex-col gap-4">
    <span>Dia: 1</span>
    <h2>Pecho</h2>
    @for (item of Pecho; track $index) {
    <app-card-ejercicio
      [nombreEjercicio]="item.nombreEjercicio"
      [imagenGif]="item.imagenGif"
      [masInformacion]="item.masInformacion"
      [pesoUtilizado]="item.pesoUtilizado"
      [repiticionesYSeries]="item.repiticionesYSeries"
    />
    }
    <h2>Triceps</h2>
    @for (item of Triceps; track $index) {
    <app-card-ejercicio
      [nombreEjercicio]="item.nombreEjercicio"
      [imagenGif]="item.imagenGif"
      [masInformacion]="item.masInformacion"
      [pesoUtilizado]="item.pesoUtilizado"
      [repiticionesYSeries]="item.repiticionesYSeries"
    />
    }
    <h2>Abdominales</h2>
  </section>
  } @if(dia == 2){
  <section class="flex flex-col gap-4">
    <span>Dia: 2</span>
    <h2>Biceps</h2>
    @for (item of Biceps; track $index) {
    <app-card-ejercicio
      [nombreEjercicio]="item.nombreEjercicio"
      [imagenGif]="item.imagenGif"
      [masInformacion]="item.masInformacion"
      [pesoUtilizado]="item.pesoUtilizado"
      [repiticionesYSeries]="item.repiticionesYSeries"
    />
    }
    <h2>Espalda</h2>
    @for (item of Espalda; track $index) {
    <app-card-ejercicio
      [nombreEjercicio]="item.nombreEjercicio"
      [imagenGif]="item.imagenGif"
      [masInformacion]="item.masInformacion"
      [pesoUtilizado]="item.pesoUtilizado"
      [repiticionesYSeries]="item.repiticionesYSeries"
    />
    }
  </section>
  } @if(dia == 3){

  <section class="flex flex-col gap-4">
    <span>Dia: 3</span>
    <h2>Piernas</h2>
    @for (item of Piernas; track $index) {
    <app-card-ejercicio
      [nombreEjercicio]="item.nombreEjercicio"
      [imagenGif]="item.imagenGif"
      [masInformacion]="item.masInformacion"
      [pesoUtilizado]="item.pesoUtilizado"
      [repiticionesYSeries]="item.repiticionesYSeries"
    />
    }
    <h2>Hombros</h2>
    @for (item of Hombros; track $index) {
    <app-card-ejercicio
      [nombreEjercicio]="item.nombreEjercicio"
      [imagenGif]="item.imagenGif"
      [masInformacion]="item.masInformacion"
      [pesoUtilizado]="item.pesoUtilizado"
      [repiticionesYSeries]="item.repiticionesYSeries"
    />
    }
  </section>
  } @for (item of dia == 1 ? AbdominalesDia1 : dia == 2 ? AbdominalesDia2 :
  AbdominalesDia3; track $index) {
  <app-card-ejercicio
    [nombreEjercicio]="item.nombreEjercicio"
    [imagenGif]="item.imagenGif"
    [masInformacion]="item.masInformacion"
    [pesoUtilizado]="item.pesoUtilizado"
    [repiticionesYSeries]="item.repiticionesYSeries"
  />
  }
</main>
